@charset "UTF-8";
*{margin: 0px; padding: 0px;}

#adminwrap{
	width: 1200px;
	margin: 0 auto;}

#adminHeader{
	width:1200px;
	display: flex;
	justify-content: space-between;
	
}
.orderToplist{
	width: 300px;
	height: 90px;
	font-size: 40px;
	display:flex;
	justify-content:center;
	align-items: center;
	color: #FFC30D;
	background-color: #008939;
	border-top-left-radius: 15px;
	border: 1px solid #008939;
	
}

.orderDetail{
	width: 900px;
	height: 90px;
	background-color: #FFC30D;
	color: #008939;
	font-size: 40px;
	display:flex;
	justify-content:center;
	align-items: center;
	border: 1px solid #FFC30D;
	position: relative;
	border-top-right-radius: 15px;
}

.orderDetail button{
	width: 150px;
	height: 50px;
	font-size: 25px;
	border:1px solid #500B68;
	background-color: #500B68 ;
	color: white;
	position: absolute;
	top: -1px; right: -1px;
	border-top-right-radius: 15px;
}

#adminBottom{
	display: flex;
	justify-content: space-between;
	height: 540px;
}

.obList{
	width: 299px;
	
	font-size: 15px;
	
	flex-direction: column;
	justify-content:center;
	border:1px solid #008939;
	border-bottom-left-radius: 15px;
}

.orderBottom{
	width: 300px;
	height: 90px;
	border-bottom: 1px solid #008939;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.orderBottom:hover{
	color: white;
	background-color: #008939;
}

.orderBottom ul{font-weight: bold;}

.orNumber{
	font-size: 15px;
	position: absolute;
	top: 10px; left: 10px;
}

.orFinish{
	position: absolute;
	right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border-style: none;
	background-color: #FFC30D ;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.odSpace{
	width:900px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-bottom-right-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content :center;
	align-items: center;
	position: relative;
}

.odDlist td{
	padding-bottom: 10px;
	padding-right: 20px;
	font-size: 20px;
	
}

.odDlist th{
	padding-bottom: 10px;
	padding-right: 20px;
	font-size: 25px;
}

.finishBtn button{
	width: 120px;
	height: 70px;
	font-size: 30px;
	border-style: none; 
	font-weight: bold;	
}

.realFn{
	border-bottom-right-radius: 15px;
	background-color : #FFC30D;
	color: white;
	position: absolute;
	bottom: 0px; right: 0px;
}

.refundBtn{
	position: absolute;
	bottom: 0px; right: 120px;
	color: white;
	background-color: #E95B1D;
}






