@charset "UTF-8";
*{
	padding:0px; margin: 0px;
}

li{
	list-style-type: none;
}

a{
	color:black; text-decoration: none;
}

/* 액션 속성 */
a:hover{ /* 선택자 : hover{} 해당 요소에 마우스를 올렸을때 */
	color:green;
	border-bottom: 1px solid green;
}
#headerAll{
	padding-top: 50px;
	background-color: window;
	height:250px;
}

#header{
	width:1200px;
	
	margin: 0 auto;
}

.headerTop{
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.header_logo{
	position:absolute;
	left: 450px;
}

.header_right{
	position: absolute;
	left : 1000px;
	font-size: 12px;
}

.header_right .point{
	font-size: 30px;
	color:#eeeeee;
	position: relative;
	top: 5px;
}

.header_right .global_icon{
	position: relative;
	top: 12px;
}

.headerBottom{
	font-size: 25px;
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}

.drop_menu{
	display: inline-block;
	margin-left: 35px;
	position: relative; /* 부모요소에 상대배치 */
}

.sub_menu{
	overflow: hidden;
	opacity: 0;
	/* display: none; */
	margin-top: 20px;
	line-height: 180%;
	background-color: white;
}

.headerBottom:hover .sub_menu{
	/* display: block; */
	opacity: 1;
}

.title{
	font-weight: bold;