@charset "UTF-8";
*{
	padding:0px; margin: 0 auto;
}

li{
	list-style-type: none;
}

a{
	color:black; text-decoration: none;
}

.headerTop{
	width:1200px;
	display: flex;
	justify-content: space-between;
}

.header_logo{
	text-align: right;
	
}