@charset "UTF-8";
*{margin: 0px; padding: 0px;}

/* 키오스크 전체구역 */
.kwrap{
	width: 1200px; height: 1000px;	/*구역 가로,높이 사이즈 */
	margin: 50px auto;					/*구역 가로가운데 정렬*/
}

/* 카테고리 */
.category_top{
	display: flex;	/*하위요소들의 가로배치*/
	justify-content: space-around;	/*가로배치방법*/
}

.categorymenu_top{
	width : 1200px; height: 50px;
	background-color: white ;	/*배경색*/
	display: flex;	/*하위요소들의 가로배치*/
	justify-content: space-around;	/*가로배치방법*/
	text-align: center;
	border-radius: 50px;
	font-size: 35px;
	font-weight: bold; 
	list-style-type: none;
	padding-top: 50px;
	padding-bottom: 55px;
	margin-bottom: 10px;
	color: #2D2D2D;
}



.categoryselect{
	background-color: #FFBD11;
	border-radius: 15px;
	padding: 5px 5px;
	color: white;
	width: 180px; height: 45px;
}

.kioskcontent{
	width : 1200px; 
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
}

.product img{width: 100%;}

.productbox{
	max-width :400px; 
	height: 300px;			/* height 생략시 기본값 auto : 내용물 크기만 자동으로 늘어남*/
	margin-bottom: 50px;
		
}

.product{
	text-align: center;
}

.Product_Name{
	font-size: 21px;
	color: #2D2D2D;
	font-weight: bold;
}

.Product_Name_English{
	font-size: 16px;
	color: #616161;
}

.calory{
	font-size: 18px;
	color: #F3D605;
	font-weight: bold;
}