@charset "UTF-8";

.mainMid{
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}

.midUl{
	display: flex;
	font-weight: bold;
}

.midUl li{
	padding-left: 20px;
}

.line{
	padding-left: 3px;
	color:black;
	font-weight: normal;
}

.products{
	width:1200px;
	margin: 0 auto;
	display: flex;
}

.product{
	padding-left: 20px;
}

.pinfo{
	text-align: center;
}

.product img{
	width:100%;
}

.pname{
	font-size: 20px;
	font-weight: bold;
}

.pcontent{
	font-size: 13px;
}

.categoryselect{
	color: green;
}

/* .reviewList{
	
} */

.reviewList h1{
	text-align: center;
	margin:15px 0px;
}

/* 게시물 */
.review_list_box{
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
}

.review_list{
   border-collapse: collapse; 
   color: black;
   
}

.review_list td, .review_list th{
   border-bottom: 1px solid #dadada;
   border-top: 1px solid #dadada;
   padding: 10px;
}

.review_list .content{
   width:700px;
   text-align: center;
}

.review_list .name{
	width:100px;
	text-align: center;
}

.review_list .star{
	text-align: center;
}