@charset "UTF-8";


*{padding: 0px; margin: 0px;}

.gamebtn{
	padding-top: 30px;
	margin: 0 auto;
	display: flex;
	width: 680px;
}

.gamebtn button{
	width: 200px; height: 200px;
	margin: 10px 10px;
	border: none;
	background-color: #A0BCC7;
	color: white;
	font-weight: bold; 
	font-size: 150px;
}

.gamebtn button:hover { 
	background-color: #385661; 
}



